/* FOOTER CONTAINER */
.foot-container {
    padding: 0.5rem;
    background-color: black;
    color: white;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* LEFT Company info */
.company-info {
    display: flex;
    flex-direction: column;

    justify-content: center;
}

.foot-icons-cont {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

.icon-facebook {
    background-color: blue;

    border-radius: 50%;
    padding: 0.5rem;

    &:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
}
.icon-twitter {
    background-color: cyan;
    color: black;

    border-radius: 50%;
    padding: 0.5rem;

    &:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
}
.icon-insta {
    background-color: palevioletred;

    border-radius: 50%;
    padding: 0.5rem;

    &:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
}

/* CENTER Useful Links */
.useful-links {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.links {    
    display: flex;
    flex-direction: column;

}

.links a {
    text-decoration: none;
    color: white;

    &:hover {
        color: gray;
        transform: scale(1.1);
    }
}

/* RIGHT Contact */
.contact {
    display: flex;
    flex-direction: column;
}