.editUser-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.editUser-wrapper {
    width: 90%;
    background-color: lightgray;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.editUser-title {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

.editUser-image {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.editUser-image img {
    max-height: 10rem;
}

.editUser-errors, .editUser-success {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.editUser-errors {
    color: red;
}

.editUser-success {
    color: green;
}

.editUser-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.editUser-form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.editUser-form-label {
    font-size: 1rem;
    color: #333;
}

.editUser-form-input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.editUser-submit-button {
    border: none;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
    &:hover {
        background-color: #0056b3;
    }
}

/* Tablet Styles */
@media (min-width: 768px) {
    .editUser-title {
        font-size: 3rem;
    }

    .editUser-form-label, .editUser-form-input {
        font-size: 1.5rem;
    }
    
    .editUser-submit-button {
        font-size: 1.5rem;
    }
}