.editProduct-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.editProduct-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editProduct-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.editProduct-thumbnail {
    width: 100%;
    margin-bottom: 1rem;
}

.editProduct-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.editProduct-form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.editProduct-form-label {
    font-size: 1.2rem;
    font-weight: bold;
}

.editProduct-form-input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 0.10rem solid #ccc;
}

.editProduct-foot-buttons {
    display: flex;
    gap: 0.5rem;
}

.editProduct-submit-button, .editProduct-back-link {
    width: 50%;
    padding: 0.5rem;
    font-size: 0.75rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-top: 1rem;
    color: white;
}

.editProduct-submit-button {
    background-color: #007bffc5;
    &:hover {
        background-color: #0069D9;
    }
}
.editProduct-back-link {
    background-color: rgba(255, 166, 0, 0.767);
    &:hover {
        background-color: orange;
    }
}
.editProduct-back-link a {
    text-decoration: none;
    color: white;
}

.editProduct-errors {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
    color: red;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.editProduct-success {
    text-align: center;
    font-size: 1rem;
    color: green;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Tablet Styles */
@media (min-width: 768px) {
    .editProduct-form-label {
        font-size: 1.25rem;
    }

    .editProduct-form-input {
        font-size: 1rem;
        padding: 0.75rem;
    }

    .editProduct-errors, .editProduct-success {
        font-size: 1.5rem;
    }

    .editProduct-submit-button, .editProduct-back-link {
        padding: 0.75rem;
        font-size: 1.25rem;
    }
    
}
/* Deskop Styles */
@media (min-width: 1024px) {
    .editProduct-thumbnail {
        width: 50%;
    }

    .editProduct-form-label {
        font-size: 1.5rem;
    }

    .editProduct-form-input {
        font-size: 1.25rem;
    }

    .editProduct-errors, .editProduct-success {
        font-size: 1.75rem;
    }

    .editProduct-submit-button, .editProduct-back-link {
        padding: 1rem;
        font-size: 1.5rem;
    }
    
}