.cat-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;

    padding: 1rem;

    text-transform: uppercase;
    font-weight: 700;
    background-color: white;
}

/* Tablet Styles */
@media (min-width: 768px) {
    .cat-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Deskop Styles */
@media (min-width: 1024px) {
    .cat-container {
        grid-template-columns: repeat(1, 1fr);
    }
}