.nav-container, .nav-container-admin {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    z-index: 1;
}

.nav-container-admin {
    background-color: goldenrod;
}

.nav-container a, .nav-container-admin a {
    color: white;
    text-decoration: none;

    &:hover {
        color: grey;
    }
}

/* LOGO */
.logo img {
    width: 3rem;
}

/* CENTER LINKS */
.nav-about, .admin-options {
    display: none;
}

/* RIGHT CONTAINER */
.right-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.right-container a {
    font-size: small;

    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: rgba(255, 255, 255, 0.726);
    color: rgba(0, 0, 0, 0.63);
    text-decoration: none;

    &:hover {
        background-color: white;
        color: black;
    }
}

/* RIGHT CONTAINER / USER LOGGED */
.right-container span {
    display: none;
    color: white;
}

.userIcon {
    display: flex;
    align-items: center;
    cursor: pointer;

    border: none;
    border-radius: 50%;

    width: 2rem;
    height: 2rem;
}

.userIcon img, .userIcon svg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* SUB MENU */
.sub-menu-wrap, .sub-menu-wrap-admin {
    position: absolute;
    top: 56px;
    right: 0;

    z-index: 1;
}

.sub-menu, .sub-menu-admin {
    border-radius: 10%;
    background-color: black;
    padding: 1rem;
    margin: 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sub-menu-admin {
    background-color: goldenrod;
}

.sub-menu,
.sub-menu-admin,
.sub-menu a,
.sub-menu-admin a,
.sub-menu a svg,
.sub-menu-admin a svg,
.sub-menu button,
.sub-menu-admin button,
.sub-menu button svg {
    font-size: small;
}

.user-info {
    color: white;
    text-align: center;
}

.user-info hr {
    background-color: white;
    margin: 0.5rem auto;
}

.sub-menu a, .sub-menu-admin a {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    text-decoration: none;
    color: rgba(255, 255, 255, 0.712);

    &:hover {
        text-decoration: underline;
        color: white;
    }
}

.sub-menu button, .sub-menu-admin button {
    background-color: inherit;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    border: none;
    color: red;

    &:hover {
        text-decoration: underline;
    }
}

/* Mobile L styles */
@media (min-width: 425px) {
    .nav-about {
        display: inline;
    }

    .nav-container-admin .nav-about {
        display: none;
    }

    .right-container {
        flex-direction: row;
        justify-content: flex-end;
    }
    .right-container a {
        font-size: 1rem;
    }

    .right-container span {
        display: inline;
    }
    
    .userIcon {
        width: 2rem;
        height: 2rem;
    }
    
}

/* Tablet styles */
@media (min-width: 768px) {
    .nav-container, .nav-container-admin {
        font-size: large;
        justify-content: space-around;
    }
    
    .logo, .nav-container-admin .nav-about {
        display: inline;
    }

    .logo img {
        width: 5rem;
    }

    .nav-contact {
        display: inline;
    }

    .right-container a {
        padding: 0.75rem;
    }

    .userIcon {
        width: 2.5rem;
        height: 2.5rem;
    }

    .sub-menu-wrap, .sub-menu-wrap-admin {
        top: 82px;
    }

    .sub-menu,
    .sub-menu-admin,
    .sub-menu a,
    .sub-menu-admin a,
    .sub-menu a svg,
    .sub-menu-admin a svg,
    .sub-menu button,
    .sub-menu-admin button,
    .sub-menu button svg,
    .sub-menu-admin button svg {
        font-size: x-large;
    }
}

/* Desktop styles */
@media (min-width: 1024px) {
    .admin-options {
        display: inline;
    }

    .admin-options-submenu {
        display: none !important;
    }

    .right-container a {
        font-weight: bold;
        font-size: 1.25rem;
    }

    .userIcon {
        width: 3rem;
        height: 3rem;
    }
}