/* Mobile styles */
.nav-container {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightgray;

    position: relative;
}

.left-container {
    display: none;
}

.center-container ul {
    display: flex;
    gap: 0.5rem;
    list-style: none;
}

.center-container ul a {
    text-decoration: none;
    color: black;
}

.right-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.right-container a {
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: grey;
    text-decoration: none;
    color: black;
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 0;
    width: 40%;

    z-index: 1;
}

.sub-menu {
    border-radius: 10%;
    background-color: whitesmoke;
    padding: 1rem;
    margin: 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.sub-menu,
.sub-menu a,
.sub-menu a svg,
.sub-menu button,
.sub-menu button svg {
    font-size: small;
}

.user-info {
    color: black;
    text-align: center;
}

.user-info hr {
    background-color: black;
    margin: 0.5rem auto;
}

.sub-menu a {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    text-decoration: none;
    color: #333;

    &:hover {
        text-decoration: underline;
    }
}

.sub-menu button {
    background-color: inherit;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    border: none;
    color: red;

    &:hover {
        text-decoration: underline;
    }
}

/* Tablet styles */
@media (min-width: 768px) {
    .nav-container {
        padding: 1rem;
        font-size: x-large;
    }

    .left-container {
        flex: 0.5;
        display: inline;
        font-size: xx-large;
        font-weight: bold;
    }

    .center-container {
        flex: 2;
    }

    .center-container ul {
        justify-content: space-around;
    }

    .right-container {
        flex: 1;
        flex-direction: row;
        justify-content: flex-end;
    }

    .right-container a {
        padding: 0.75rem;
    }

    .sub-menu,
    .sub-menu a,
    .sub-menu a svg,
    .sub-menu button,
    .sub-menu button svg {
        font-size: x-large;
    }
}

/* Desktop styles */
@media (min-width: 1024px) {
    .sub-menu,
    .sub-menu a,
    .sub-menu a svg,
    .sub-menu button,
    .sub-menu button svg {
        font-size: xx-large;
    }
}