.nav-container {
    height: 4rem;
    background-color: black;
    padding-left: 2%;
    padding-right: 2%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

/* LEFT CONTAINER */
.left-container {
    color: white;

    font-weight: 600;
    font-size: xx-large;
}

/* CENTER CONTAINER */
.center-container {
    flex: 1;
}

.center-container ul {
    margin: 0;
    list-style: none;

    display: flex;
    justify-content: space-around;
}

.center-container ul li a {
    font-size: x-large;

    text-decoration: none;
    color: white;

    &&:hover {
        color: gray;
    }
}

/* RIGHT CONTAINER */
.right-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

    color: white;
    font-size: x-large;

}

.userIcon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 2.5rem;
    height: 2.5rem;

    background-color: white;
    color: black;

    border-radius: 50%;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    background-color: #333;
    color: white;
}

/* SUB-MENU */
.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 0;
    width: 20rem;
    z-index: 1;
}

.sub-menu {
    border-radius: 10%;

    background-color: white;
    padding: 1rem;
    margin: 1rem;
}

.sub-menu a {
    font-size: x-large;

    display: flex;
    align-items: center;
    gap: 1rem;

    text-decoration: none;
    color: #333;

    &&:hover {
        text-decoration: underline;
    }
}

.sub-menu button {
    font-size: x-large;

    display: flex;
    align-items: center;
    gap: 1rem;

    border: none;
    background-color: white;
    color: red;

    &&:hover {
        text-decoration: underline;
    }
}

.user-info {
    text-align: center;
}


@media (max-width: 480px) {
    .left-container {
        display: none;
    }
}