.products-container {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* Tablet Styles */
@media screen and (min-width: 768px) {
    .products-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Deskop Styles */
/* @media screen and (min-width: 1024px) {
    .products-container {
        grid-template-columns: repeat(4, 1fr);
    }
} */
/* Deskop Styles */
@media screen and (min-width: 1440px) {
    .products-container {
        grid-template-columns: repeat(5, 1fr);
    }
}