.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    background-color: grey;
    position: relative;
}

.slide {
    border-radius: 0.5rem;
    box-shadow: 0px 0px 7px #666;
    
    width: 100%;
    object-fit: cover;
    flex: 1;
}

.slide-hidden {
    display: none;
}

.arrow {
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: silver;
}

.arrow:hover {
    cursor: pointer;
}

.arrow-left {
    left: 1rem;
}

.arrow-right {
    right: 1rem;
}

.indicators {
    display: flex;
    position: absolute;
    bottom: 1rem;
}

.indicator {
    background-color: white;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 100%;
    border: none;
    outline: none;

    box-shadow: 0px 0px 5px #555;
    margin: 0 0.2rem;
    cursor: pointer;
}

.ind-inactive {
    background-color: grey;
}