/* Misc */
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hr {
    border: none;
    height: 1px;
    margin: 1rem 0;
    background-color: black;
}

/* ========== CONTAINER ========== */
.cart-container {
    padding: 1rem;
    min-height: 100vh;
}

/* TITLE */
.cart-title {
    font-size: larger;
    font-weight: 300;
    text-align: center;
    margin: 1rem 0;
}

/* ===== CART TOP CONTAINER ===== */
.cart-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.cart-top-button {
    padding: 0.25rem;
    font-size: 0.75rem;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        background-color: silver;
    }
}

.cart-top-texts {
    font-size: 1rem;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

/* ========== CART BODY CONTAINER ========== */
.cart-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

/* ==== Products List ==== */
.cart-product-list {
    flex: 3;
    display: flex;
    flex-direction: column;
}

/* Product details */
.cart-product {
    display: flex;
    flex-direction: column;
}

.cart-product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* img */
.cart-info-img {
    width: 10rem;
    margin: 0.5rem;
}

/* details */
.cart-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cart-color {
    width: 20px;
    height: 20px;

    border-radius: 50%;
    background-color: black;
}

/* price & amount */
.cart-product-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.cart-product-ammount {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    font-size: 2rem;
}

.cart-ammount-icon {
    border-radius: 50%;
    border: 0.05rem solid black;

    &&:hover {
        background-color: silver;
    }
}

.cart-price {
    align-self: center;
    font-size: 2rem;
}

.delete-button {
    font-size: 1rem;
    padding: 0.5rem;

    border: 0.05rem solid black;
    background-color: rgba(255, 0, 0, 0.644);
    color: white;

    &&:hover {
        background-color: rgb(255, 0, 0);
    }
}

/* ==== Products Summary ==== */
.cart-product-summary {
    flex: 1;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 0.5px solid gray;
    border-radius: 0.5rem;

    padding: 1rem;
}

.cart-summary-title {
    text-align: center;
    font-size: 2.25rem;
    font-weight: 200;
}

.cart-summary-item {
    font-size: larger;
    margin: 1.5rem 0;

    display: flex;
    justify-content: center;
    gap: 1rem;
}

.cart-summary-total {
    font-weight: 500;
    font-size: 1.5rem;
}

.cart-summary-button {
    width: 100%;

    font-weight: 500;
    font-size: 1rem;

    border-radius: 0.5rem;
    border: none;

    padding: 1rem;

    background-color: grey;
    color: white;

    &:hover {
        background-color: black;
        cursor: pointer;
    }
}

/* Tablet styles */
@media (min-width: 768px) {
    .cart-container {
        padding: 2rem;
    }

    .cart-title {
        font-size: 3rem;
    }

    .cart-top {
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    .cart-top-button {
        padding: 1rem;
        font-size: 1rem;
    }

    .cart-top-texts {
        font-size: 1.5rem;
    }

    .cart-product-list {
        gap: 1rem;
    }

    .cart-product {
        flex-direction: row;
        gap: 1rem;
    }

    .cart-product-details {
        flex-direction: row;
        gap: 1rem;
    }

    .cart-info-img {
        width: 15rem;
        height: 10rem;
    }

    .cart-details {
        font-size: 1.25rem;
        gap: 1rem;
    }

    .cart-product-ammount {
        font-size: 2.5rem;
    }

    .cart-price {
        font-size: 2.5rem;
    }

    .delete-button {
        font-size: 1.5rem;
    }

    .cart-product-summary {
        max-width: 75%;
    }

    .cart-summary-title {
        font-size: 3rem;
    }

    .cart-summary-item {
        font-size: 1.5rem;
    }

    .cart-summary-total {
        font-size: 2rem;
    }

    .cart-summary-button {
        font-size: 1.5rem;
    }
}

/* Desktop styles */
@media (min-width: 1024px) {
    .cart-top {
        margin-bottom: 2rem;
    }

    .cart-top-button {
        padding: 1.25rem;
        font-size: 1.25rem;
    }

    .cart-body {
        flex-direction: row;
        align-items: flex-start;
    }

    .cart-product {
        justify-content: space-between;
        padding: 0.5rem;
        border: 0.5px solid gray;
    }
    .cart-details {
        font-size: 1.25rem;
        gap: 1rem;
    }

    .delete-button {
        font-size: 1.25rem;
        padding: 0.75rem;
    }

    .cart-product-summary {
        max-height: 50%;
    }
}