.checkout-container {
    padding: 1rem;
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.field {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 0.25rem;
}

.checkout-input {
    border-radius: 0.25rem;
    border: 0.05rem solid #ccc;
    padding: 0.5rem;
}

/* CHECKOUT FORM */
.checkout-info {
    flex: 2;
    padding: 0.5rem;
    width: 75%;
}

.checkout-form {
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.checkout-form h1 {
    margin: 0.75rem 0;
    text-transform: uppercase;
}

.customer-info, .payment-info, .billing-address {
    display: flex;
    flex-wrap: wrap;
}

.payment-info input {
    width: 100%;
}

.checkout-buttons {
    display: flex;
    justify-content: space-between;
}

.checkout-button, .cart-link {
    border-radius: 0.25rem;
    border: 0.05rem solid #ccc;
    padding: 0.5rem;
    font-weight: 500;
    font-size: 1.5rem;
    width: 40%;
}

.checkout-button {
    background-color: lightblue;
    &:hover {
        cursor: pointer;
        background-color: lightskyblue;
    }
}

.cart-link {
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: rgba(255, 255, 0, 0.521);
    &:hover {
        cursor: pointer;
        background-color: yellow;
    }
}

/* CURRENT CART */
.current-cart {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    height: fit-content;
    border: 0.15rem solid black;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.current-cart h1 {
    text-align: center;
    font-size: 1.5rem;
}

.current-cart-product {
    display: flex;
    justify-content: space-between;
}

.current-cart-details {
    display: flex;
}

.current-cart-details img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
}

.current-cart-productInfo {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}

.current-cart-price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.current-cart-shippingCost, .current-cart-total {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.current-cart-total {
    font-size: 1.5rem;
    font-weight: 500;
}