.home-container {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;

    background-color: grey;
}

.home-title {
    margin-top: 1rem;
    font-weight: 500;
    text-align: center;
    color: white;
}

.home-link {
    font-weight: 500;
    font-size: 1.5rem;

    width: 50%;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 1rem 1rem;
    margin: 1rem 1rem;

    background-color: silver;
    color: white;

    &:hover {
        background-color: rgb(95, 95, 95);
        cursor: pointer;
    }

}