
/* CONATINERS */
.login-container {
    min-height: 100vh;

    background: url("https://i.ibb.co/8DqrnRj/abstract-futuristic-background-with-3d-design.jpg");
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-wrapper {
    width: 50%;
    padding: 2rem;

    background: linear-gradient(90deg, rgba(194,194,194,1) 0%, rgba(104,104,105,1) 100%);
}

/* TITLE */
.login-title {
    font-weight: 300;
}

.errors {
    color: red;
}

/* FORM */
.login-form {
    display: flex;
    flex-direction: column;
}

.login-input {
    flex: 1;
    width: auto;

    padding: 1rem;
    margin: 1rem 0.5rem 0 0;
}

/* FORM FOOTER */
.login-link {
    margin: 0.25rem;
    text-transform: uppercase;
    cursor: pointer;
}

.login-button {
    font-weight: 500;
    text-align: center;

    width: min-content;
    border: none;
    padding: 1rem 1rem;
    margin: 1rem 0;

    background-color: grey;
    color: white;

    &:hover {
        background-color: rgb(95, 95, 95);
        cursor: pointer;
    }
}

/* Tablet styles */
@media (min-width: 768px) {
    .login-title {
        font-size: 2rem;
    }
    .login-link {
        font-size: large;
    }
    .login-button {
        font-size: 1.5rem;
    }
}