.myOrders-container {
    padding: 1rem;
    min-height: 100vh;
}

.myOrders-container > h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.myOrders {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.myOrder {
    padding: 1rem;
    border: 0.15rem solid black;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #ccc;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.myOrder > h1 {
    text-align: center;
    margin-top: 1rem;
}

.myOrder-info-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    margin-bottom: 1rem;
}

.myOrder-info h1 {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: blue;
}

.myOrder-product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 0.15rem solid #ccc;
}
.myOrder-product img {
    width: 4rem;
    height: 4rem;
}

.myOrder-product-info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    text-align: center;
}

/* Tablet Styles */
@media (min-width: 768px) {

    .myOrder-info h1 {
        text-align: center;
        font-size: 2rem;
    }
    .myOrder-info, .myOrder-address {
        font-size: 1.5rem;
    }

    .myOrder-product img {
        width: 8rem;
        height: 8rem;
    }
    
    .myOrder-product-info {
        font-size: 1.5rem;
    }
}