.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    min-height: 85vh;
}

.profile-name, .profile-lastname, .profile-username, .profile-email, .profile-created, .profile-updated {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Profile Image */
.profile-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-image svg {
    width: max-content;
    height: max-content;
}

.profile-image img {
    border-radius: 50%;
}

.profile-image h1 {
    font-size: x-large;
    font-weight: 400;
    
    margin-bottom: 4rem;
}

/* Profile Name */
.profile-name p {
    font-size: x-large;
}

/* Profile Lastname */
.profile-lastname p {
    font-size: x-large;
}

/* Profile Username */
.profile-username p {
    font-size: x-large;
}

/* Profile Email */
.profile-email p {
    font-size: x-large;
}

/* Profile Created */
.profile-created p {
    font-size: x-large;
}

/* Profile Updated */
.profile-updated p {
    font-size: x-large;
}