.productList-container {
    height: 100%;
}

.title {
    margin: 1rem 1rem;
    text-transform: uppercase;
    font-weight: 300;

    text-align: center;
}

.filter-container {
    display: flex;
    justify-content: space-around;
}

.filter {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.50rem;
}

.sort {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.filter-text {
    font-size: 1.25rem;
    font-weight: 600;

    margin-right: 0.5rem;
}

/* Selectors */
.select {
    padding: 1rem;
}