/* Misc */
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ===== GENERAL ===== */
.product-container {
    min-height: 100vh;
}

.product-wrapper {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.product-img {
    margin-bottom: 1rem;
}

.product-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-title {
    font-size: 3rem;
    font-weight: 200;
}

.product-description {
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.product-price {
    font-size: 3rem;
}

/* ===== SPECIFIC ===== */

/* Product Options */
.product-options-container {
    width: 75%;
    margin: 2rem 0;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.option-title {
    font-size: 2rem;
    font-weight: 200;
}

/* Color Options */
.product-color-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.product-color-option>div {
    display: flex;
    gap: 1rem;
}

.option-color {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;

    margin-bottom: 0.5rem;
}

.color-black,
.color-grey,
.color-darkblue {
    background-color: black;

    &:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
}

.color-grey {
    background-color: grey;
}

.color-darkblue {
    background-color: darkblue;
}

/* RAM Options */
.product-ram-option {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-option {
    font-size: 1.25rem;
    padding: 0.5rem;
}

/* ADD CONTAINER */
.add-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.ammount-container {
    padding: 1rem;
    display: flex;

    gap: 1rem;
    font-weight: 700;
}

.remove {
    width: 2rem;
    height: 2rem;

    border-radius: 50%;
    border: 1px solid grey;
    background-color: rgba(253, 0, 0, 0.603);
    color: white;

    &:hover {
        cursor: pointer;
        background-color: red;
    }
}

.add {
    width: 2rem;
    height: 2rem;

    border-radius: 50%;
    border: 1px solid grey;
    background-color: rgba(0, 128, 0, 0.623);
    color: white;

    &:hover {
        cursor: pointer;
        background-color: green;
    }
}

.ammount {
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;

    border: 1px solid black;
}

.to-cart {
    padding: 1rem;

    border: 2px solid grey;
    background-color: lightgrey;

    &:hover {
        background-color: gray;
        cursor: pointer;
    }
}

/* Tablet Styles */
@media (min-width: 768px) {
    .product-wrapper {
        gap: 2rem;
    }

    .product-color-option,
    .product-ram-option {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }

    .add-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .product-price {
        margin-bottom: 2rem;
    }
}

/* Deskop Styles */
@media (min-width: 1024px) {

    .add-container {
        flex-direction: column;
    }

    .product-options-container {
        gap: 2rem;
    }

    .ammount-container div, .ammount-container svg, .ammount {
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
    }

    .to-cart {
        padding: 1.5rem;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
}