.thankYou-container {
    padding: 1rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thankYou-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 1rem;
    border: 0.15rem solid black;
}

.thankYou-wrapper h1 {
    text-transform: uppercase;
    text-align: center;
    color: green;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.thankYou-order-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.thankYou-order-details>p {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.thankYou-order-details-userInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    font-size: 1.2rem;
}

.thankYou-order-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding: 1rem;
    border: 0.10rem solid grey;
}

.thankYou-order-product>img {
    padding: 0.25rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thankYou-button {
    padding: 0.5rem;
    border: 0.10rem solid grey;
    background-color: lightblue;
    &:hover {
        cursor: pointer;
        background-color: skyblue;
    }
}

/* Tablet Styles */
@media (min-width: 768px) {
    .thankYou-wrapper h1 {
        font-size: 2rem;
    }

    .thankYou-order-details>p {
        font-size: 1.5rem;
    }

    .thankYou-order-products {
        display: flex;
        gap: 1rem;
        align-items: center;
        overflow-x: scroll;
    }

    .thankYou-button {
        padding: 1rem;
        font-size: 1.5rem;
    }    
}

/* Deskop Styles */
@media (min-width: 1024px) {
    .thankYou-wrapper h1 {
        font-size: 2.5rem;
    }

    .thankYou-order-details>p {
        font-size: 2rem;
    }

    .thankYou-order-details-userInfo {
        text-align: center;
        font-size: 1.5rem;
        display: grid;
        grid-template-columns: repeat(2, 0.75fr);
    }    

    .thankYou-order-products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .thankYou-button {
        width: 50%;
    }    
}